mixin head({ title=projectName, favicon=faviconUrl } = {})
  // HEAD
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    block meta

    link(rel="shortcut icon" href=`${favicon}` type="image/x-icon")

    block links

    title= title

mixin socialLins({ list, light=true, start=false } = {})
  -let classes = "link-up d-inline-block p-0 nav-link"

  each link, i in list
    li.nav-item
      a(class=`${classes} ${i === 0 && start ? 'me-2' : 'mx-2'} ${light ? 'link-light' : 'link-dark'}` href=`${link.url}`)
        i(class=`fs-5 ${link.icon}`)
